:root {
    --Lightgray: #8D8D8D;
    --LightBlue: #2197FF;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI';
    background-color: white;
}

.nav-link {
    color: var(--Lightgray) !important;
    font-size: 16px;
    font-weight: 600;
    margin-left: 25px;
}

.nav-link span {
    position: relative;
    top: -3px;
    right: 5px;
}

.navbar {
    transition: position linear 0.5s;
}

.nav-item .active {
    color: var(--LightBlue) !important;
}

.nav-shadow {
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.27);
}

.carousel-inner {
    height: 500px !important;
}

.carousel-inner img {
    height: 500px;
    object-fit: cover;
}

.carousel-indicators li {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.carousel-indicators li.active {
    background-color: var(--LightBlue);
}

.section-title {
    margin-top: 29px;
}

.section-title h3 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.section-title .border {
    width: 100%;
    height: 5px;
    background-color: var(--LightBlue);
    margin-top: 15px;
}

.section-content {
    margin-top: 20px;
    padding: 10px 0 30px 0;
}

.about-text {
    font-size: 18px;
    color: #545454;
    text-align: center;
    max-width: 100%;
}

.section-content a {
    text-decoration: none;
}

.btn-1 {
    border: 2px solid var(--LightBlue);
    padding: 8px 40px;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    color: var(--LightBlue);
    font-size: 16px;
    font-weight: 600;
}

.btn-1:hover {
    background-color: var(--LightBlue);
    color: white;
}

.service-image {
    width: 100%;
    height: 145px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.service-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 2s all;
}

.service-image:hover>img {
    transform: scale(2);
}

.service-image .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.60);
    z-index: 1;
}

.service-image .service-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 600;
    color: white;
    z-index: 2;
}

.service-name a {
    display: block;
    color: white;
}

.text-light-black {
    color: var(--Lightgray) !important;
}

.emergency-banner {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.address p {
    font-size: 22px;
    font-weight: 600;
    color: var(--Lightgray);
    max-width: 378px;
    margin: 10px auto;
}

.phone {
    margin-top: 25px;
}

.phone .number {
    font-size: 22px;
    font-weight: 600;
    color: var(--Lightgray);
    max-width: 378px;
    margin: 10px auto;
}

footer {
    width: 100%;
    background-color: #4D4D4D;
    padding: 40px 0 20px 0;
}

.footer-title {
    font-size: 22px;
    color: white;
    font-weight: 600;
}

.footer-content {
    margin-top: 20px;
}

.footer-content ul {
    list-style: none;
    padding: 0;
}

.footer-content ul>li {
    margin-top: 15px;
    color: #C7C7C7;
    font-size: 18px;
    font-weight: 400;
}

.footer-content ul>li>a {
    text-decoration: none;
    color: #C7C7C7;
}

.footer-content ul>li>a:hover {
    text-decoration: underline;
}

.footer-content ul>li>a.active {
    color: var(--LightBlue) !important;
}

.copyright p {
    color: white;
    text-align: center;
    margin-top: 15px;
}

.side-image {
    width: 100%;
    height: 570px;
    z-index: -11;
}

.side-image img {
    width: 100%;
    height: 570px;
    object-fit: cover;
}

.side-image-2 {
    width: 100%;
    height: 570px;
    z-index: -11;
}

.side-image-2 img {
    width: 100%;
    height: 117vh;
    object-fit: cover;
}

.login-box {
    padding: 10px;
    margin-top: 30px;
}

.login-box .title {
    text-align: center;
    margin-top: 25px;
}

.login-box .title h3 {
    font-size: 26px;
    color: var(--Lightgray);
    font-weight: 600;
    margin-top: 15px;
}

.form-1 {
    margin-top: 15px;
}

.form-1 input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
input[type='date'] {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.48);
    padding: 0 35px;
}

.form-1 select {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.48);
    padding: 0 35px;
    appearance: none;
}

.form-1 label {
    color: #545454;
    margin-left: 15px;
    font-weight: 500;
}

.form-1 textarea {
    width: 100%;
    border-radius: 25px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.48);
    padding: 10px 35px;
}

.form-1 input:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.27);
}

.form-1 textarea:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.27);
}

.btn-2 {
    border: none;
    outline: none;
    background-color: var(--LightBlue);
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 12px 50px;
    border-radius: 25px;
    transition: 0.4s all;
}

.btn-2:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.27);
    background-color: royalblue;
}

.btn-2:active {
    background-color: darkblue;
    border: none;
    outline: none;
}

.login-box a.register-text {
    color: var(--Lightgray);
}

.card-img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 200px;
    object-fit: cover;
}

.card-title {
    margin-bottom: 0.3rem;
}

.card-title a {
    color: black;
    transition: 0.4s all;
}

.card-title a:hover {
    color: royalblue;
}

.cat {
    display: inline-block;
    margin-bottom: 1rem;
}

.fa-users {
    margin-left: 1rem;
}

.card-footer {
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, 0.05);
}

.post-desc {
    width: 100%;
    height: 50px;
    overflow: hidden;
}


/* Responsive Media Query */

@media (max-width:1002px) {
    .nav-link {
        font-size: 13px !important;
    }
}

@media (max-width:991px) {
    .nav-link {
        font-size: 16px !important;
    }
}


/*  */


/* Shake Effect */

.shake-me {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}


/*  */